<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Minha Página Web</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div>
    <div class="div-inferior">
        <form action="/opiniaousuario" method="post">
            <label for="feedback">Digite sua opinião:</label><br>
            <textarea id="feedback" name="feedback"></textarea><br>
            <button type="submit">Enviar</button>
                <br>
        </form>
        <button onclick="window.location.href='/verificarlogin'">Voltar</button>
        <br>
    </div>
</div>
</body>
</html>
